*{
    margin: 0;
    padding: 0;
    border: 0;
}

    header{
        width: 100%;
        height: 440px;
        background-image: url("assets/banner-conecta-med.png");
        background-position: bottom;
        background-size: cover; 
    }

    .header-container {
        width: 1000px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }


    .header-logo {
        width: 250px;
        margin: 20px 0px 0px 0px;
    }

    .header-logo img {
        width: 100%;
    }

        
    .menu {
        width: 64%;
        font-family: 'Lato';
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu a {
        text-decoration: none;
        color: #47276F;
    }

    .botaomatricula {
        color: white;
        padding: 16px;
        background-color: #93BF1D;
    }


            .infos-gerais {
             width: 100%;
                display: flex;
            }

            .menu-interno {
                width: 100%;
                font-family: 'Lato';
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 40px auto;
        
            }

            .menu-infos {
                padding-bottom: 8px;
                border-bottom: 1px solid grey;
   
            }
            .menu-interno a {
                text-decoration: none;
                color: grey;
                margin: 10px;
            }

            .menu-interno a:hover{
                text-decoration: none;
                color:   rgb(240, 185, 4);
                margin: 10px;
            }

            .menu-interno a:active{
                text-decoration: none;
                color:   #93BF1D;
                margin: 10px;
            }

.container-conteudo {

    width: 1000px;
    margin: 0 auto;
    display: flex;

}


    h2{

    margin: 15px auto;
    font-family: 'Lato';
    color: #47276F;
    font-weight: 900;
}
     p{

    margin: 15px auto;
    font-family: 'Lato';
    color:grey;
}

.container-conteudo a{
    text-decoration: none;
    color: #47276F;
    font-family: 'Lato';
    display: block;
    width: 150px;
    text-align: center;

}

#cta-matricula {

    margin-top: 30px;
    color: white;
    padding: 16px;
    background-color: #93BF1D;
}


.texto-infos {

    width: 30%;

}

.imagem {

    width: 70%;
    overflow: hidden;
    padding-left: 80px;
    
  
}

.imagem img {
    width: 100%;;
    
    
}


        .especialistas {
            width: 100%;
            display: flex;
            
         }

            .container-especialistas{

                width: 1000px;
                margin: 0 auto;
                display: flex;
                
                
            /* conteiner geral */

            margin-top: 90px;
            margin-bottom: 90px;

            }
               
                .container-img-especialistas{

                    display: flex;
                    width: 60%;
                    position: relative;
                    
                    /*overflow: hidden; */
                     

                    /*conteiner daimagem */
                }       
                .imagem-especialistas{
                    /*imagem */
                    overflow: hidden;
                }

                .boxtexto {

                    width: 255px;
                    background-color: white;
                    padding: 25px;
                    position: absolute;
                    right: -55px;
                    top: 50%;
                    transform: translatey(-50%);
                    /*texto box padding */

                }
                .boxtexto p{
                    
                    font-family: 'Lato';

                

                }
            .texto-especialistas{

                width: 40%;
                padding-left: 80px;
                display: flex;
                align-items: center;
                
            }

.sistema-ensino{

    /* sessão ph */

}
    .container-ph{

       /* sessão ph */
    }
        .texto-ph{

            /* TEXTO */
        }
        .texto-ph h2{

            /* PERSONALIZAR H2 */
        }
        .texto-ph p{

            /* PERSONALIZAR P */
        }
        .imagem-ph{

        }